{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div id="deleteTourFailed" class="alert alert-info hidden">Fahrt konnte nicht gelöscht werden.</div>
    <h1>Fahrten verwalten</h1>
    <div class="col-md-10">
        <table class="table table-hover manage_tours">
            <tr>
                <th>Fahrt ID</th>
                <th>Start</th>
                <th>Ziel</th>
                <th>Durchführungen</th>
                <th class="text-center">Fahrt bearbeiten</th>
                <th class="text-center">Fahrt und alle dazugehörigen<br/>Durchführungen löschen</th>
            </tr>
            {% for tour in tours %}
                <tr class="tour" tour_id="{{ tour.id }}">
                    <td>{{ tour.id }}</td>
                    <td>{{ tour.start }}</td>
                    <td>{{ tour.end }}</td>
                    <td>
                        Nächste Durchführung:
                        {% with next_trip=tours.filter_by(id=tour.id).first().trips.first() %}
                        {{ next_trip.date.day }}.{{ next_trip.date.month }}.{{ next_trip.date.year }}
                        {{ next_trip.time.hour }}:{{ next_trip.time.minute }}<br/>
                            {% with trip_count=tours.filter_by(id=tour.id).first().trips.count() %}
                                {% if trip_count > 1 %}
                                    <p>{{ trip_count-1 }} weitere Durchführungen</p>
                                {% endif %}
                            {% endwith%}
                        {% endwith %}
                    </td>
                    <td class="text-center">
                        <button class="edit_button" tour_id="{{ tour.id }}">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                    </td>
                    <td class="text-center">
                        <button class="delete_button" tour_id="{{ tour.id }}">
                            <span class="glyphicon glyphicon-remove red" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}