{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <!-- Hier wird überprüft, ob Personenwaggons und Triebwaggons überhaupt vorhanden sind. Ist eines von beiden (oder auch
         beide) nicht vorhanden, so wird dies dem User mitgeteilt. -->
    {% if personenwagen == [] and triebwagen == [] %}
        <p>Es kann kein Zug erstellt werden, da weder Personenwaggons, noch Triebwaggons vorhanden sind!</p>
        <p>Klicken Sie <a href="{{ url_for('waggon') }}">hier</a>, um neue Waggons zu erstellen.</p>
    {% elif personenwagen == [] %}
        <p>Um einen Zug erstellen zu können, muss zumindest ein Personenwaggon vorhanden sein!</p>
        <p><a href="{{ url_for('createWaggon', typ='Personenwagen') }}">Hier</a>
            können Sie einen neuen Personenwagen erstellen.
        </p>
    {% elif triebwagen == [] %}
        <p>Um einen Zug erstellen zu können, muss zumindest ein Triebwaggon vorhanden sein!</p>
        <p><a href="{{ url_for('createWaggon', typ='Triebwagen') }}">Hier</a>
            können Sie einen neuen Triebwagen erstellen.
        </p>
    {% else %}
    <h2>Neuen Zug erstellen:</h2>
    <div class="row">
        <div class="col-md-4">
            <form action="" method="post">
                {{ form.hidden_tag() }}
                {{ wtf.form_errors(form, hiddens="only") }}

                {{ wtf.form_field(form.nr) }}
                {{ wtf.form_field(form.name) }}
                {{ wtf.form_field(form.triebwagen_nr) }}
                <b>Personenwagen</b>
                {% for p in personenwagen %}
                    <!-- Es werden nur die Personenwaggons angezeigt, die keinem Zug zugeordnet sind. Dies
                         wird in der folgenden Abfrage sichergestellt. -->
                    {% if p.zugNr == None %}
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="{{ p.nr }}" name="personenwagenCheckbox">
                            {{ p.nr }} (Spurweite: {{ p.spurweite }} mm)
                        </label>
                    </div>
                    {% endif %}
                {% endfor %}
                {{ wtf.form_field(form.submit) }}
            </form>
        </div>
    </div>
    {% endif %}
{% endblock %}
