{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <!-- Es wird überprüft, welche Wagenart von der View Function übergeben wird (also welche Wagenart erstellt
         werden soll). Je nach dem, wird eine angepasste Überschrift in der Webseite angezeigt. -->
    {% if wagenart == 'Triebwagen' %}
        <h2>Neuen Triebwagen erstellen:</h2>
    {% elif wagenart == 'Personenwagen' %}
        <h2>Neuen Personenwagen erstellen:</h2>
    {% endif %}
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form)}}
        </div>
    </div>
{% endblock %}
