{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <!-- Es wird überprüft, welche Wagenart von der View Function übergeben wird (also welche Wagenart bearbeitet
         werden soll). Je nach dem, wird eine angepasste Überschrift in der Webseite angezeigt. -->
    {% if wagenart == 'Triebwagen' %}
    <h2>Triebwagen bearbeiten</h2>
    {% else %}
    <h2>Personenwagen bearbeiten</h2>
    {% endif %}<br>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
{% endblock %}
