{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% if wartung == [] %}
        <p>Keine Wartungen zum bearbeiten verfügbar!</p>
        <a href="{{ url_for('home_admin') }}">Zurück zur Startseite</a>
    {% else %}
        <h4>Bestehende Wartungen bearbeiten:</h4><br>
        <table class="table table-hover">
            <tr>
                <th>Wartungsnummer</th>
                <th>Von</th>
                <th>Bis</th>
                <th>Zugnummer</th>
                <th></th>
                <th></th>
            </tr>
            {% for w in wartung %}
                <tr>
                    <td>{{ w.wartungsNr }}</td>
                    <td>{{ w.von.strftime('%d.%m.%Y %H:%M') }}</td>
                    <td>{{ w.bis.strftime('%d.%m.%Y %H:%M') }}</td>
                    <td>{{ w.zugNr }}</td>
                    <td>
                        <a class="btn btn-default" href="{{ url_for('editMaintenance', wartungsNr=w.wartungsNr) }}" role="button">Bearbeiten</a>
                    </td>
                    <td>
                        <form action="{{ url_for('deleteMaintenance', wartungsNr=w.wartungsNr) }}" method="post">
                            {{ form.hidden_tag() }}
                            {{ wtf.form_errors(form, hiddens="only") }}

                            {{ wtf.form_field(form.submit) }}
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
