{% extends "base.html" %}

{% block app_content %}
    <h4>Hallo, {{ current_user.vorname }}! Wählen Sie eine Option aus:</h4>
    <a href="{{ url_for('waggon') }}">Neue Waggons erstellen</a><br>
    <a href="{{ url_for('updateWaggon') }}">Bestehende Waggons bearbeiten/löschen</a><br>
    <a href="{{ url_for('createTrain') }}">Neuen Zug erstellen</a><br>
    <a href="{{ url_for('updateTrain') }}">Bestehende Züge bearbeiten/löschen</a><br>
    <a href="{{ url_for('register') }}">Neuen Benutzer erstellen</a><br>
    <a href="{{ url_for('updateUser') }}">Bestehende Benutzer bearbeiten/löschen</a><br>
    <a href="">Neue Wartung hinzufügen</a><br>
    <a href="{{ url_for('trainOverview') }}">Zugübersicht</a><br>
    <a href="{{ url_for('waggonOverview') }}">Waggonübersicht</a><br>
    <a href="">Wartungsübersicht</a><br>
{% endblock %}
