{% extends "base.html" %}

{% block app_content %}
    <h4>Hallo, {{ current_user.vorname }}! Wählen Sie eine Option aus:</h4>
    <a href="">Neue Waggons erstellen</a><br>
    <a href="">Bestehende Waggons kombinieren</a><br>
    <a href="">Bestehende Züge bearbeiten</a><br>
    <a href="">Bestehende Waggons bearbeiten</a><br>
    <a href="{{ url_for('register') }}">Neuen Benutzer erstellen</a><br>
    <a href="{{ url_for('updateUser') }}">Bestehende Benutzer bearbeiten/löschen</a><br>
    <a href="">Neue Wartung hinzufügen</a><br>
    <a href="">Zugübersicht</a><br>
    <a href="">Waggonübersicht</a><br>
    <a href="">Wartungsübersicht</a><br>
{% endblock %}
