{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% if typ == 'Administrator' %}
    <h3>Hier können Sie Ihre Daten ansehen und gegebenfalls ändern:</h3>
    <div class="row">
        <div class="col-md-4">
            <form action="" method="post">
                {% include 'mitarbeiter_form.html' %}
                <table>
                    <tr>
                        <td width="100px">{{ wtf.form_field(form.submit) }}</td>
            </form>
                <form action="{{ url_for('deleteUser', mitarbeiterNr=current_user.mitarbeiterNr) }}" method="post">
                    {{ form2.hidden_tag() }}
                    {{ wtf.form_errors(form2, hiddens="only") }}
                    
                        <td>{{ wtf.form_field(form2.submit) }}</td>
                    </tr>
                </form>
                </table>
        </div>
    </div>
    {% else %}
    <h3>Hier können Sie sich Ihre Daten ansehen:</h3>
    <table class="table table-hover">
        <tr>
            <td>Mitarbeiternummer:</td>
            <td>{{ current_user.mitarbeiterNr }}</td>
        <tr>
            <td>Sozialversicherungsnummer:</td>
            <td>{{ current_user.svnr }}</td>
        <tr>
            <td>Vorname:</td>
            <td>{{ current_user.vorname }}</td>
        <tr>
            <td>Nachname:</td>
            <td>{{ current_user.nachname }}</td>
        <tr>
            <td>Email:</td>
            <td>{{ current_user.email }}</td>
        <tr>
            <td>Beruf:</td>
            <td>
                {% if typ == 'Wartungspersonal' %}
                {{ typ }}
                {% else %}
                {{ current_user.berufsbezeichnung }}
                {% endif %}
            </td>
    {% endif %}
{% endblock %}
