{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <!-- Es wird eine Variable "typ" von der View Function übergeben. Hier ist eingespeichert, um welche Art von User es
         sich beim momentanen User (current_user) handelt. Ist dieser ein Administrator, so hat dieser zusätzlich Schreibrechte. -->
    {% if typ == 'Administrator' %}
    <h3>Hier können Sie Ihre Daten ansehen und gegebenfalls ändern:</h3>
    <div class="row">
        <div class="col-md-4">
            <form action="" method="post">
                {% include 'mitarbeiter_form.html' %}
                <table>
                    <tr>
                        <td width="100px">{{ wtf.form_field(form.submit) }}</td>
                    <!-- Die nachfolgende, etwas "unreinere" Codeimplementierung musste so durchgeführt werden, um die Buttons nebeneinander
                         darstellen zu können -->
            </form>
                <form action="{{ url_for('deleteUser', mitarbeiterNr=current_user.mitarbeiterNr) }}" method="post">
                    {{ form2.hidden_tag() }}
                    {{ wtf.form_errors(form2, hiddens="only") }}

                        <td>{{ wtf.form_field(form2.submit) }}</td>
                    </tr>
                </form>
            </table>
        </div>
    </div>
        <!-- Handelt es sich beim momentanen User nicht um einen Administrator, so hat dieser nur Leserechte -->
    {% else %}
        <h3>Hier können Sie sich Ihre Daten ansehen:</h3>
        <dl>
            <dt>Mitarbeiternummer</dt>
            <dd>{{ current_user.mitarbeiterNr }}</dd>
        </dl>
        <dl>
            <dt>Sozialversicherungsnummer</dt>
            <dd>{{ current_user.svnr }}</dd>
        </dl>
        <dl>
            <dt>Vorname</dt>
            <dd>{{ current_user.vorname }}</dd>
        </dl>
        <dl>
            <dt>Nachname</dt>
            <dd>{{ current_user.nachname }}</dd>
        </dl>
        <dl>
            <dt>E-Mail</dt>
            <dd>{{ current_user.email }}</dd>
        </dl>
        <dl>
            <dt>Beruf</dt>
            <dd>
                {% if typ == 'Wartungspersonal' %}
                    {{ typ }}
                {% else %}
                    {{ current_user.berufsbezeichnung }}
                {% endif %}
            </dd>
        </dl>
    {% endif %}
{% endblock %}
