{% extends "base.html" %}

{% block app_content %}
    {% if wartung == [] %}
        <p>Es sind keine Wartungen vorhanden!</p>
        <a href="{{ url_for('home_admin') }}">Zurück zur Startseite</a>
    {% else %}
        <h3>Wartungsübersicht:</h3><br>
        <table class="table table-hover">
            <tr>
                <th>Wartungsnummer</th>
                <th>Datum</th>
                <th>Von</th>
                <th>Bis</th>
                <th>Zugeteiltes Personal</th>
                <th>Zugnummer</th>
            </tr>
            {% for w in wartung %}
                <tr>
                    <td>{{ w.wartungsNr }}</td>
                    <!-- Hier wird der Zeitraum mittels "strftime" in einem passenden Format angezeigt. -->
                    <td>{{ w.von.strftime('%d.%m.%Y') }}</td>
                    <td>{{ w.von.strftime('%H:%M') }}</td>
                    <td>{{ w.bis.strftime('%H:%M') }}</td>
                    <td>
                        {% for p in w.zugeordnetes_wartungspersonal().all() %}
                            <ul class="list-unstyled">
                                <li>{{ p.vorname }} {{ p.nachname }} ({{ p.mitarbeiterNr }})</li>
                            </ul>
                        {% endfor %}
                    </td>
                    <td>{{ w.zugNr }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
