{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>Systemeinstellungen</h1>
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
                Der Fahrplan wird automatisch bei Start des Systems überprüft (maximal aber 1 mal täglich).
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                {% if sys.last_system_check %}
                Letze Überprüfung des Fahrplans: {{ sys.last_system_check.strftime('%d.%m.%Y - %H:%M:%S') }}
                {% else %}
                Keine letzte Überprüfung eingetragen.
                {% endif %}
                <div style="padding: 10px">
                    <button class="update-timetable btn btn-primary">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                        Fahrplan neu überprüfen
                    </button>
                </div>
            </div>
        </div>
        <div class="panel panel-default" style="padding: 10px">
            <div class="panel-body">
                <form action="" method="post">
                    {{ sys_form.hidden_tag() }}
                    <div>
                        {{ sys_form.days_to_keep_old_trips.label }}
                        {{ sys_form.days_to_keep_old_trips() }}
                        {{ sys_form.submit() }}
                    </div>
                </form>
            </div>
        </div>
        <table class="table table-hover rushhours">
            <tr>
                <th>{{ rushhour_form.start_time.label }}</th>
                <th>{{ rushhour_form.end_time.label }}</th>
                <th class="text-center">Hinzufügen</th>
            </tr>
            <tr>
                <form action="" method="post">
                    {{ rushhour_form.hidden_tag() }}
                    <td>{{ rushhour_form.start_time() }}</td>
                    <td>{{ rushhour_form.end_time() }}</td>
                    <td class="text-center">{{ rushhour_form.submit() }}</td>
                </form>
            </tr>
            <tr>
                <th>Stoßzeit-Start</th>
                <th>Stoßzeit-Ende</th>
                <th class="text-center">Stoßzeit bearbeiten</th>
                <th class="text-center">Stoßzeit löschen</th>
            </tr>
            {% for rushhour in rushhours %}
            <tr class="rushhour" rushhour_id="{{ rushhour.id }}">
                <td>{{ rushhour.start_time.strftime('%H:%M') }}</td>
                <td>{{ rushhour.end_time.strftime('%H:%M') }}</td>
                <td class="text-center">
                    <a href="/edit_rushhour/{{ rushhour.id }}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </a>
                </td>
                <td class="text-center">
                    <button class="delete_rushhour" rushhour_id="{{ rushhour.id }}">
                        <span class="glyphicon glyphicon-remove red" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
