.train-image {
    width: 50%;
}

.hidden {
    display: none;
}

.align-center {
    display: flex;
    align-items: center;
}

[draggable=true] {
  cursor: move;
}

.no-cursor-interaction {
    cursor: default;
}

.crew-dragging-area {
    width: 30%;
}

.red {
    color: red;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-button {
    background-color: red;
    padding: 20px;
}