.train-image {
    width: 50%;
}

.hidden {
    display: none;
}

.red {
    color: red;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-button {
    background-color: red;
    padding: 20px;
}